/*Page corps principal*/
body {
  background: linear-gradient(white, white, #a1cdf4, #a9afd1, #2a9134);
}
/*Logo*/
.logo {
  width: 100px;
  height: 50%;
}
/*Image responsive*/
@media screen and (max-width: 600px) {
  img-fluid {
    width: 100px;
    height: 50%;
  }
}
@media screen and (max-width: 800px) {
  img-fluid {
    width: 300px;
    height: 70%;
  }
}
